.shopping-list {
  background-color: azure;
}

table {
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 8px;
  box-shadow: 5px 10px #d9d3d2;
}

table.blockFilled {
    background-color: darkgrey;
}

.row > * {
    flex: 1 1 80px;
}

.row.touched {
    background-color: #c9b5b5;;
    pointer-events: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

td {
    cursor: pointer;
}

td.touched > .value {
    background-color: #635a5a;
    border-radius: 10px;
    width: 18px;
    position: relative;
    right: 4px;
}

td.touched > .value > div {
    position: relative;
    left: 4px;
    color: white;
}

.column {
    border-left: 1px solid black;
    padding-left: 4px;
}

.block {
    padding-top: 16px;
}